body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;

}

/* Header */
header {
    background: #007bff;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

/* Sections */
section {
    padding: 20px;
    text-align: center;
    background: #fff;
    margin: 15px;
    border-radius: 8px;
}

/* Skills */
.skills, .Experience ul {
    list-style: none;
    padding: 0;
}

.skills li {
    background: #007bff;
    color: white;
    padding: 8px;
    margin: 5px auto;
    width: 120px;
    border-radius: 5px;
}

/* Projects */
.project-box {
    background: #ececec;
    padding: 15px;
    margin: 10px auto;
    width: 80%;
    border-radius: 5px;
}
/* Experience */
.Experience {
    padding: 20px;
    text-align: center;
    background: #fff;
    margin: 15px;
    border-radius: 8px;
}
/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
    margin-top: 20px;
}